/* displays like iPad Pro  1024 - 1200px */

@media only screen and (max-width: 1280px) {
    .hero-text {
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
}

/* displays like iPad 768 - 1023px */

@media only screen and (max-width: 1023px) {
    .main-nav {
        display: inline-block;
    }
}

/* tabs 481 - 825  */

@media only screen and (max-width: 825px) {
    #experience,
    #education,
    #skills {
        padding: 40px;
        margin: -15px;
    }

    .hero-text {
        width: 280px;
        bottom: 2px;
    }
    .hero-text-subtitle {
        font-size: 120%;
        color: #fff;
    }
    .hero-text img {
        width: 65%;
    }
    .hero-text li a:link,
    .hero-text li a:visited {
        font-size: 75%;
    }
    body {
        font-size: 18px;
    }
    .icon-small {
        font-size: 150%;
    }
    h1 {
        font-size: 125%;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 115%;
    }
    h3 {
        font-size: 100%;
    }
    .mobile-nav-icon {
        display: inline-block;
        margin-top: 5px;
    }
    .main-nav {
        display: none;
        margin-top: 5px;
        margin-left: 5px;
        padding: 5px 0;
        margin-bottom: 5px;
    }
    .main-nav li {
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 2px 0;
        font-size: 100%;
    }
    .sticky .main-nav {
        margin-top: 5px;
        margin-left: 5px;
        padding: 5px 0;
        margin-bottom: 5px;
    }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 2px 0;
        font-size: 100%;
    }

    .copy {
        font-size: 85%;
    }
    .copy li{
        list-style: none;
        padding-bottom: 10px;
    }

}

/* Mobile displays like Pixel 2, iPhone x 0 - 480px */

@media only screen and (max-width: 480px) {
    .hero-text-subtitle {
        font-size: 110%;
        color: #fff;
    }
    .hero-text img {
        width: 50%;
    }
}