/* displays like iPad Pro  1024 - 1200px */
@media only screen and (max-width: 1280px) {
    .hero-text {
        padding: 0 2%; 
    }
    .row {
        padding: 0 2%;
    }
    
}

/* displays like iPad 768 - 1023px */
@media only screen and (max-width: 1023px) {

}

/* tabs 481 - 767  */
@media only screen and (max-width: 767px) {
    body {
        font-size: 18px;
    }
    .icon-small {
        font-size: 150%;
    }

    h1 {
        font-size: 125%;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 115%;
    }
    h3 {
        font-size: 100%;
    }



}

/* Mobile displays like Pixel 2, iPhone x 0 - 480px */
@media only screen and (max-width: 480px) {
    .hero-text {
        width: 95%;
        font-size: 100%;
    }

    .hero-text-subtitle {
        font-size: 110%;
        color: #fff;
    }

    .hero-text img {
        width: 50%;
        border-radius: 50%;
    }

    .hero-text li a:link,
    .hero-text li a:visited {
        font-size: 85%;
    }


    
}